<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Blogs - We Trade Institute</title>
</head>

<body>
    {{>navbar}}

    <div class="myBlogs">
        <div class="container">
            <div class="row">
                <h1 class="b-title"><span>B</span>logs</h1>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <a href=""><img src="./images/bg1.png" alt="" width="100%"></a>
                        <div class="blogs-content">
                            <a href="">
                                <h1>Risk Management | Beginner’s Guide To The Stock Market | Module 16</h1>
                            </a>
                            <p>Risk Management & Capital Allocation are topics that are ignored most of the time by new
                                or
                                even experienced traders. Until this, through the Beginner’s Guide to the Stock Market
                            </p>

                            <div class="blog-logo">
                                <img src="./images/J&A PNG 1.png" alt="">
                                <span>Jangid And Associates Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>subscribe_page}}

    {{>footer}}


    <style>
        .myBlogs{
            margin: 20px 0 50px 0;
            padding-top: 60px;
        }
        .myBlogs h1{
            font-family: 'Nunito', sans-serif;
            color: #000;
            font-size: 40px;
            text-align: center;
        }
        .myBlogs h1 span{
            color: #ff2d3b;
        }
        .blogs-content h1 {
            font-size: 24px;
            transition: 0.5s;
            text-align: left;
        }

        .blogs-content h1:hover {
            color: #ff2d3b;
        }

        .blog-card {
            border: 1px solid red;
            margin: 15px 5px;
            /*border-radius: 8px;*/
            overflow: hidden;
        }

        .blog-card img {
            width: 100%;
        }

        .blogs-content {
            padding: 25px;
        }

        .blogs-content p {
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            color: #606060;
        }

        .blog-logo {
            display: flex;
            align-items: center;
        }

        .blog-logo img {
            width: 50px;
            border-radius: 50%;
        }

        .blog-logo span {
            font-size: 17px;
            color: #606060;
            font-weight: 500;
            margin-left: 8px;
        }

        .b-title{
            position: relative;
            margin: 10px 0 20px 0;
            line-height: 60px;
            font-weight: 600;
            color: #ff2d3b;
        }
        .b-title::after {
            content: '';
            background: #ff2d3b;
            width: 120px;
            height: 3.5px;
            border-radius: 4px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</body>

</html>