<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ - We Trade Institute</title>
    {{>headerLinks}}
</head>

<body>

    {{>navbar}}


    <div class="faq">
        <div class="container">
            <div class="row">
                <h1 class="title"><span>F</span>requently <span>A</span>sked <span>Q</span>uestions <span><i
                            class="fa fa-question"></i></span></h1>

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                What's your membership fees?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                The Online training fees is <strong>₹14,851 only.</strong>
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Do we provide software for trading?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                No, Jangid And Associates Academy does not provide or recommends any software for
                                trading. All the study is done on an online website called Tradingview.
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Who can enroll for you course?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Anyone who is passionate about the stock market and wants to learn how to trade in stock
                                market it is eligible to enroll for our programs. Students Minimum Age of 18+.
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                Do you Teach Price Action?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, we teach Purely price action with some powerul strategy.
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                How long it take to understand how to trade?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                This is up to you, we have seen members learning as quick as 1-2 week also, we all learn
                                at a different pace. It takes time & effort so please be ready to fully dive into the
                                stock market and all it has to offer! Its a fun journey!
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                                Which brokage account should you use?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                This is up to you, but we Recommend Zerodha and Upstox as they are discount brokers.
                                Zerodha being india's biggest broker and debt free company is easier to trust.
                                <br>
                                <a href="https://zerodha.com/?c=SZ4439">Click here to open Zerodha Demat Account.</a>
                                <br>
                                <a href="">Click here to open Upstox Demat Account.</a>
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">
                                Why do majority of traders fail?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                There are various reasons why a person fails, but the most common reason is that many
                                people start trading the markets without having any knowledge about it, or they might
                                risk too much of their capital on a single trade.
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button shadow-none collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Is trading risky?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse"
                            aria-labelledby="headingEcollapseEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes , it is risky for those who can't trade with proper knowledge and strategies.
                                <div class="insta">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>subscribe_page}}

    {{>footer}}


    <style>
        /* -----------------FAQ------------------ */
        .faq {
            max-width: 1000px;
            margin: 50px auto;
            text-align: center;
            padding-top: 50px;
        }

        .faq .container .row h1 {
            margin-bottom: 40px;
            color: #000;
            font-weight: 700;
        }
        .faq .container .row h1 .fa{
            color: #ff2d3b;
        }

        .faq .container .row h1 span {
            color: #ff2d3b;
        }

        .faq .accordion {
            text-align: left;
        }

        .faq .insta .fa {
            color: #000;
            margin-top: 5px;
            margin-left: 10px;
            padding: 2.5px 3px;
            font-size: 20px;
            font-weight: 500;
            transition: 0.5s ease-out;
        }

        .faq .insta .fa:hover {
            color: #fff;
            background: #ff2d3b;
            font-weight: 500;
            border-radius: 5px;
        }

        .title {
            position: relative;
            margin: 10px 0 20px 0;
            line-height: 60px;
            font-weight: 600;
            color: #ff2d3b;
        }

        .title::after {
            content: '';
            background: #ff2d3b;
            width: 56%;
            height: 3.5px;
            border-radius: 4px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
        }

        .accordion-item {
            margin: 10px;
            border: 2px solid #c5c5c5 !important;
        }

        .accordion-body {
            color: #606060;
        }
    </style>
</body>

</html>