<!DOCTYPE html>
<html lang="en">

<head>
    <title>We Trade Institute</title>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    {{>header}}

    {{>myCards}}

    {{>about_us_home}}

    {{>why_choose_us}}
    
    {{>download_pdf}}

    {{>testimonials}}

    {{>contact_details}}

    {{>subscribe_page}}

    {{>footer}}
</body>

</html>