<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning Videos - We Trade Institute</title>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}


    <div class="youtube-video">
        <div class="container">
            <div class="row">

                <div class="youtube-subscribe">
                    <div class="row">
                        <!-- <div class="col-lg-3 col-md-4">
                            <img src="./image/youtube-logo.jpg" alt="">
                        </div> -->
                        <div class="col">
                            <div class="logo-rotator">
                                <div class="ycircle">
                                    <div class="ylogo"></div>
                                    <div class="ytext">
                                        <p>- Jangid And Associates Academy -</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3><span>J</span>angid <span>A</span>nd <span>A</span>ssociates <span>A</span>cademy</h3>
                        </div>
                        <div class="col-lg-6">
                            <a href="https://www.youtube.com/channel/UCmPFR2rjxeiFacfbur1clZw?sub_confirmation=1"
                                target="_blank">
                                <span><i class="fa fa-youtube-play"></i>Subscribe<i class="fa fa-bell-o"></i></span>
                                <span><i class="fa fa-youtube-play"></i>Subscribe<i class="fa fa-bell-o"></i></span>
                            </a>
                        </div>
                    </div>
                    <!-- <img src="./image/youtube-logo.jpg" alt="">
                    <h3>Jangid And Associates Academy</h3>
                    <a href="">
                        <span><i class="fa fa-youtube-play"></i>Subscribe<i class="fa fa-bell-o"></i></span>
                        <span><i class="fa fa-youtube-play"></i>Subscribe<i class="fa fa-bell-o"></i></span>
                    </a> -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/a7ePog-y4Dc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0zTMUcKjhVI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iYlW7zrTCnk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MY9mIuMnhtU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oHQx25p53IY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 3 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UylKyGtDMcs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZN2UeBmReRo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ad2IvANj9_U"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 6 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mRRs9HLscTE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0iUgYFT7Ybc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y2aFgLRT87I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 9 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/25Eay7GoRdE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xv3B_4QbDkA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vqn8o5GEmYM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 12 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TdAXKqAOi20"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N0G8G55ttzE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6w9xvfHH8Jk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 15 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zBvtlrXlfGs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/byOKr6uJhBk"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rWGaFL0Rwu4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 18 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/66qai8iFM-M"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YulBCY4iL7Q"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YexRwT-N6v0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 21 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YexRwT-N6v0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OLR8qdm9iYc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/f43IQx6UG4I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 24 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SQb_t_TSepM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6YnpVgBNJaU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zehP2Xr-9G0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 27 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tIq1VqdM-vQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Pm-rf60vuHU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/06v6nSfxZh4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 30 -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZSB6SKDyjm0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BjLCmzEffic"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JUWeSpaRBIw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


                <!-- 33 -->
            </div>
        </div>
    </div>


    {{>subscribe_page}}

    {{>footer}}

    <style>
        /*----------------youtube-videos---------------*/
        .youtube-video {
            margin-top: 50px;
            padding-top: 60px;
        }

        .youtube-subscribe {
            margin-bottom: 20px;
        }

        .youtube-subscribe .row {
            align-items: center;
            justify-content: center;
        }

        .youtube-subscribe .row .col-lg-2 {
            text-align: center;
        }

        .youtube-subscribe .row .col-lg-6 {
            text-align: center;
        }

        .youtube-subscribe .row .col-lg-3 {
            text-align: center;
        }

        /*.youtube-subscribe img {
            width: 250px;
            border-radius: 100%;
            border: 3px solid #ff2d3b;
            display: inline-block;
        }*/

        .logo-rotator {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: consolas;
        }

        .ycircle {
            position: relative;
            width: 200px;
            height: 200px;
            background: #ff2d3b;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ylogo {
            position: absolute;
            width: 150px;
            height: 150px;
            background: url(./images/youtube-logo.jpg);
            background-size: cover;
            border-radius: 50%;
            border: 2px solid #fff;
            /* filter: brightness(1.2) contrast(1.2); */
        }

        .ytext {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: rotateText 15s linear infinite;
            color: #fff;
        }

        .ytext p {
            text-transform: uppercase;
            font-weight: 600;
        }

        @keyframes rotateText {
            0% {
                transform: rotate(360deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        .ytext span {
            position: absolute;
            left: 50%;
            font-size: 1.2em;
            transform-origin: 0 100px;
        }

        .youtube-subscribe h3 {
            font-size: 40px;
        }

        .youtube-subscribe h3 span {
            color: #ff2d3b;
        }

        .youtube-subscribe a {
            position: relative;
            display: inline-block;
            justify-self: right;
            width: 185px;
            height: 50px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
            margin-right: 20px;
        }

        .youtube-subscribe a span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            background: #ff2d3b;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            border-radius: 7px;
        }

        .youtube-subscribe a span:hover {
            letter-spacing: 1.5px;
        }

        .youtube-subscribe a span .fa {
            color: #fff;
            font-weight: normal;
            margin-right: 5px;
            font-size: 22px;
        }

        .youtube-subscribe a span .fa:nth-child(2) {
            font-weight: 600;
            margin-left: 5px;
        }

        .youtube-subscribe a span:nth-child(2) {
            color: #fff;
            background: #000;
            z-index: 2;
            transition: 0.5s;
            clip-path: polygon(55% 0, 100% 0%, 100% 100%, 55% 100%, 45% 53%);
        }

        .youtube-subscribe a span:nth-child(2):hover {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 50%);
        }

        .youtube-subscribe a span:nth-child(1):hover+span:nth-child(2) {
            clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
        }

        .youtube-video .container .row iframe {
            width: 100%;
            height: 250px;
            margin: 15px 15px 15px 5px;
            border: 2px solid black;
        }

        @media only screen and (max-width:768px) {
            .youtube-subscribe h3 {
                font-size: 35px;
            }
        }

        @media only screen and (max-width:500px) {
            .youtube-video .container .row iframe {
                margin: 0;
            }

            .youtube-video .container .row .col-sm-12 {
                width: 98%;
                margin: 10px 15px 10px 5px;
            }
    </style>
</body>

</html>