<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Offers - J&A Academy</title>
</head>
<body>
    {{>navbar}}

    <div class="container">
        <h1>Offers</h1>
    </div>

    {{>subscribe_page}}

    {{>footer}}
</body>
</html>