<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Our Course - J&A Academy</title>
</head>
<body>
    {{>navbar}}

    <div class="container">
        <h1 class="head">Our Course</h1>
    </div>

    {{>subscribe_page}}

    {{>footer}}
</body>
<style>
    .head{
        padding: 100px 0 30px 0;
    }
</style>
</html>