<!-- footer-->
<footer>
    <div class="my-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-3 footer-col-1">
                    <a href="/"><img src="/images/J&A PNG 1.png" alt="logo" draggable="false"></a>
                    <div class="footer-logo">
                        <a href="https://www.youtube.com/channel/UCmPFR2rjxeiFacfbur1clZw?sub_confirmation=1"
                            target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.instagram.com/nitesh_2_9/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/people/Nitesh-Jangid/100059126799170/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/nitesh-jangid-bb6673205" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/nitesh-jangid-bb6673205" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="telegram">
                        <a href="whatsapp://send?text=Hello Nitesh!  How are you?" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        <a href="https://wa.me/+919680033244" target="_blank" type="button">WhatsApp</a>
                    </div>
                    <!-- <a href="whatsapp://send?text=Hello world this is a message and a link http://www.example.com/image.jpg">Share with whatsapp</a> -->
                </div>

                <div class="col-md-4 col-sm-6 col-lg-3 footer-col-2">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/our-course">Our Course</a></li>
                        <li><a href="/study-material">Study Material</a></li>
                        <li><a href="/learning-videos">Learning Videos</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-3 footer-col-3">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/offers">Offers</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/admission-form">Admission Form</a></li>
                        <li><a href="/upcoming-events">Upcoming Events</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-3 footer-col-4">
                    <h3>Contact Us</h3>
                    <div class="phone">
                        <a href="tel:+919680033244" onmouseover="P_hover_In(0)" onmouseout="P_hover_Out(0)"><i
                                class="fa fa-phone my_fa"></i>+91-9680033244</a>
                    </div>
                    <div class="email">
                        <a href="mailto:supports@jangidandassociates.com" onmouseover="P_hover_In(1)"
                            onmouseout="P_hover_Out(1)"><i
                                class="fa fa-envelope my_fa"></i>supports@jangidandassociates.com</a>

                    </div>
                    <div class="address">
                        <a href="/contact-us" onmouseover="P_hover_In(2)" onmouseout="P_hover_Out(2)"><i
                                class="fa fa-map-marker my_fa"></i>Amravati-444605, Maharashtra, INDIA</a>
                    </div>
                </div>

            </div>
            <hr>
            <div class="copyright">
                <a href="">Terms & Conditions</a>
                <a href="">Refund Policy</a>
                <p><i class="fa fa-copyright"></i><span id="currentYear">2020</span> jangidandassociates.com</p>
            </div>
        </div>
    </div>
</footer>

<style>
    /* -----------------footer-------------------- */
    .my-footer {
        /* background: linear-gradient(45deg, #f046ff, #9b00e8); */
        background: #000;
        margin-top: auto;
        padding: 25px 0;
    }

    .my-footer .fa {
        color: #fff;
    }

    .my-footer .container .row {
        max-width: 1100px;
        margin: auto;
    }

    /* ----------------footer-col-1---------------- */
    .footer-logo {
        padding: 0;
        margin: auto;
        text-align: center;
    }

    .footer-logo .fa {
        font-size: 30px;
        padding: 15px 8px 10px 8px;
    }

    .footer-col-1 {
        text-align: center;
    }

    .footer-col-1 a {
        font-size: 40px;
        color: #fff;
        text-align: center;
    }

    .footer-col-1 a img {
        max-width: 170px;
        filter: brightness(0);
        filter: invert(1);
    }

    .footer-col-1 .telegram {
        background: #fff;
        padding: 5px 18px;
        margin: 15px auto;
        margin-bottom: 20px;
        width: fit-content;
        border-radius: 12px;
        text-align: center;
    }

    .footer-col-1 .telegram a {
        color: #000;
        font-size: 17px;
        font-weight: 600;
    }

    .footer-col-1 .telegram .fa {
        font-size: 18px;
        color: #000;
        font-weight: 1000;
    }

    .telegram:hover {
        cursor: pointer;
    }

    .footer-col-1 .footer-logo .fa:hover {
        cursor: pointer;
        font-size: 26px;
        transition: 0.5s ease-out;
        background: #ff2d3b;
        line-height: 23px;
        border-radius: 12px;
    }

    /* ----------------footer-col-2---------------- */
    .footer-col-2 {
        margin-top: 15px;
        padding-top: 25px;
        text-align: center;
    }

    .footer-col-2 h5 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .footer-col-2 ul {
        list-style: none;
    }

    .footer-col-2 ul li a {
        font-size: 15px;
        color: rgb(170, 165, 165);
        transition: 0.3s;
    }

    .footer-col-2 ul li a:hover {
        color: #fff;
    }

    /* ----------------footer-col-3---------------- */
    .footer-col-3 {
        margin-top: 15px;
        padding-top: 25px;
        text-align: center;
    }

    .footer-col-3 h5 {
        color: #fff;
        font-weight: 500;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .footer-col-3 ul {
        list-style: none;
    }

    .footer-col-3 ul li a {
        font-size: 15px;
        color: rgb(170, 165, 165);
        transition: 0.3s;
    }

    .footer-col-3 ul li a:hover {
        color: #fff;
    }

    /* ----------------footer-col-4---------------- */
    .footer-col-4 {
        margin: auto;
        margin-top: 4px;
        min-width: 220px;
    }

    .footer-col-4 h3 {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
    }

    .footer-col-4 .phone {
        text-align: center;
    }

    .footer-col-4 .phone a {
        color: #fff;
    }

    .footer-col-4 .email {
        text-align: center;
    }

    .footer-col-4 .email a {
        color: #fff;
    }

    .phone .fa,
    .email .fa,
    .address .fa {
        padding: 4px;
        transition: 0.5s;
        margin-right: 4px;
    }

    .phone_hover {
        background-color: #ff2d3b;
        border-radius: 4px;
    }

    .footer-col-4 .address {
        margin-top: 10px;
        text-align: center;
    }

    .footer-col-4 .address a {
        color: #fff;
    }

    .footer-col-4 .feedback {
        background: #fff;
        width: fit-content;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        padding: 5px 18px;
        border-radius: 12px;
    }

    .footer-col-4 .feedback a {
        color: #000;
        font-size: 17px;
        font-weight: 600;
    }

    .footer-col-4 .feedback .fa {
        font-size: 20px;
        color: #000;
    }

    .feedback:hover {
        cursor: pointer;
    }

    /* ---------------hr and copyright------------------ */
    hr {
        height: 1.5px;
        background: #fff !important;
        margin: 20px 10px 8px 10px;
        border: none;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .my-footer .copyright a {
        font-size: 12px;
        margin: 0 10px;
        text-align: center;
        color: #fff;
    }

    .my-footer .copyright a:hover {
        text-decoration: underline !important;
    }

    .copyright p {
        font-size: 12px;
        color: #fff;
        width: fit-content;
        margin: 0 6px;
    }

    .copyright p .fa {
        padding-right: 4px;
    }

    @media only screen and (max-width:500px) {
        footer .copyright {
            display: block;
        }

        footer .copyright p {
            display: inline-block;
        }
    }
</style>

<script>
    my_fa = document.getElementsByClassName('my_fa');
    function P_hover_In(k) {
        my_fa[k].classList.add('phone_hover');
    }
    function P_hover_Out(k) {
        my_fa[k].classList.remove('phone_hover');
    }


    const d = new Date();
    let year = d.getFullYear();
    document.getElementById("currentYear").innerHTML = year;


    const ytext = document.querySelector('.ytext p');
    ytext.innerHTML = ytext.innerText.split("").map(
        (char, i) =>
            `<span style="transform:rotate(${i * 10.5}deg)">${char}</span>`
    ).join("")
</script>