<!-- My Cards- -->
<div class="mycards">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 my-3 my-xxl-0">
                <div class="card">
                    <img src="./images/bulb.png" alt="" draggable="false">
                    <h2>Learn from Basics</h2>
                    <p>Learn the basics of the stock market, to understand the how does the Stock market works & the
                        market
                        pyschology.</p>
                    <a href=""><i class="fa fa-user-o"></i>Enrol Now</a>
                </div>
            </div>
            <div class="col col-md-3 my-3 my-xxl-0">
                <div class="card">
                    <img src="./images/book.png" alt="" draggable="false">
                    <h2>Ebook Library and Store</h2>
                    <p>Learn Free Technical Analysis by reading books and many more.Only theory knowledge</p>
                    <a href=""><i class="fa fa-user-o"></i>Enrol Now</a>
                </div>
            </div>
            <div class="col col-md-3 my-3 my-xxl-0">
                <div class="card">
                    <img src="./images/play-circle-regular.svg" alt="" draggable="false">
                    <h2>Learning Videos</h2>
                    <p>Get Started on your Trading Education Journey Right Away.</p>
                    <a href=""><i class="fa fa-user-o"></i>Enrol Now</a>
                </div>
            </div>
            <div class="col col-md-3 my-3 my-xxl-0">
                <div class="card">
                    <img src="./images/desktop1.png" alt="" draggable="false">
                    <h2>Unlimited Revision Classes</h2>
                    <p>Unlimited revision classes to help you cover any topic you miss in your live class.</p>
                    <a href=""><i class="fa fa-user-o"></i>Enrol Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /* ---------------------My Cards----------------------- */
    .mycards .container {
        margin: auto;
        margin-top: 50px;
        justify-content: center;
    }

    .mycards .container .row .col-md-3 {
        margin: auto;
        padding: 0 18px;
        min-width: 320px;
        justify-content: space-around;
    }

    .mycards .container .row .card {
        padding: 30px 20px;
        /* background: rgb(250, 250, 250); */
        background: #fcfcfd;
        text-align: center;
        height: 100%;
        align-items: center;
        margin: auto;
        transition: 0.5s;
        border-radius: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .mycards .container .row .card:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: #fff;
        cursor: pointer;
    }

    .mycards .container .row .card img {
        width: 140px;
        height: 140px;
        margin-bottom: 25px;
        border: none;
        outline: none;
        /* background: red; */
    }

    .mycards .container .row .card h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
        height: 100%;
    }

    .mycards .container .row .card p {
        color: #606060;
        height: 100%;
    }

    .mycards .container .row .card a {
        background: #ff2d3b;
        color: #fff;
        padding: 10px 20px;
        border-radius: 21px;
        font-weight: 600;
        transition: 0.8s;
        font-size: 16px;
    }

    .mycards .container .row .card a:hover {
        background: #000;
    }

    .mycards .container .row .card .fa {
        color: #fff;
        margin-right: 4px;
        font-weight: 700;
    }

    .mycards .container .row .card a:hover {
        letter-spacing: 0.8px;
        box-shadow: 0 5px 20px rgba(31, 31, 31, 0.25);
    }

    @media only screen and (max-width: 991px){
        .mycards .container {
        margin-top: 10px;
    }
    }
</style>