<!-- -Students View--->
<section class="testimonial">
    <div class="container">
        <div class="section-title">
            <h2>What Our Students Say</h2>
            <span class="section-separator"></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, nulla?</p>
        </div>
    </div>
    <div class="testimonials-carousel-wrap">
        {{!-- <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right"
                style="color: #fff"></i></div>
        <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left"
                style="color: #fff"></i></div> --}}
        <div class="testimonials-carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- first -->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="./images/student1.png" draggable="false"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-left"></i></div>
                            <div class="testimonials-text">
                                <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>Content of the course includes everything needed to know for trading. Ashish Sir is
                                    the best
                                    mentor.
                                    <br>
                                    The content of the course is very simplified i recommmend this course to everyone.
                                </p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>John Doe</h3>
                                    <h4>Owner</h4>
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>

                    <!--second--->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="./images/student1.png" draggable="false"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-left"></i></div>
                            <div class="testimonials-text">
                                <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <p>I was trying to to learn everything about the market and some trading strategy from
                                    youtube & other
                                    websitesbut it was not enough.J&A Academy taught everything in a very easy to
                                    understand format and
                                    mad e it very easy to me.</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Nitesh</h3>
                                    <h4>Director</h4>
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>
                    <!--third-->

                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="./images/student1.png" draggable="false"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-left"></i></div>
                            <div class="testimonials-text">
                                <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>I am 100% satisfied and strongly recommended this courses to everyone who passionate
                                    to about the
                                    market to make a consistent profit .
                                    <br>
                                </p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Boe Doe</h3>
                                    <h4>Developer</h4>
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>

                    <!--fourth-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="./images/student1.png" draggable="false"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-left"></i></div>
                            <div class="testimonials-text">
                                <div class="listing-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <p>I am 100% satisfied and strongly recommended this courses to everyone who passionate
                                    to about the
                                    market. to make a consistent profit .</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Doe John</h3>
                                    <h4>Designer</h4>
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-right"></i></div>
                        </div>
                    </div>
                    <!--testi end-->

                </div>
            </div>
        </div>

        <div class="tc-pagination"></div>
    </div>
</section>



<style>
    /* ------------Why Choose Us-------------------- */
    /* .choose-us{
    background: #f5f7fa;
} */
    .choose-us .row {
        align-items: center;
        justify-content: center;
    }

    .choose-us .col-lg-6 {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .choose-us .col-lg-6 .logo-rotator {
        display: none;
    }

    .choose-us .col-lg-6 .img-logo {
        width: 100%;
        max-width: 500px;
    }

    .choose-us .choose-us-content {
        padding: 50px 0;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .choose-us .choose-us-content .c-u-span {
        color: #ff2d3b;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .choose-us .choose-us-content h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .choose-us-content p {
        font-size: 18px;
        color: #606060;
        margin-top: 20px;
    }

    .choose-us-content ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .choose-us-content ul li {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: left;
        margin: 5px 0;
    }

    .choose-us-content ul li img {
        /* background: #f0f3f0; */
        background: repeating-radial-gradient(#fff, #f0f3f0);
        padding: 4px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        margin-right: 5px;
    }

    .choose-us-content ul li span {
        font-size: 18px;
        font-weight: 600;
        color: #606060;
    }


    /* -----------------Students View------------------- */
    html {
        overflow-x: hidden;
        height: 100%;
    }

    .testimonial {
        position: relative;
        padding: 30px 0;
        background: #fcfcfd;
        z-index: 1;
        width: 100%;
        text-align: center;
        font-family: "Roboto";
    }

    .section-title {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 40px;
    }

    .section-title p {
        color: #7d93b2;
        font-size: 13px;
        line-height: 20px;
        max-width: 550px;
        margin: 0 auto;
    }

    .section-title h2 {
        float: left;
        width: 100%;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        color: #000;
        font-size: 34px;
        font-weight: 800;
        position: relative;
    }

    .section-separator {
        float: left;
        width: 100%;
        position: relative;
        margin: 20px 0;
    }

    .section-separator:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        height: 3.5px;
        width: 60px;
        border-radius: 3px;
        z-index: 2;
        background-color: #ff2d3b;
        margin-left: -25px;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        padding: 12px;
    }

    .listing-carousel-button {
        position: absolute;
        top: 50%;
        width: 80px;
        height: 50px;
        line-height: 50px;
        margin-top: -25px;
        z-index: 100;
        cursor: pointer;
        /* background: #007aff; */
        background: #ff2d3b;
        box-shadow: 0 9px 26px rgba(58, 87, 135, 0.40);
        transition: all 200ms linear;
        outline: none;
    }

    .listing-carousel-button.listing-carousel-button-next {
        right: -30px;
        padding-right: 20px;
        border-radius: 60px 0 0 60px;
    }

    .listing-carousel-button.listing-carousel-button-prev {
        left: -30px;
        padding-left: 20px;
        border-radius: 0 60px 60px 0;
    }

    .listing-carousel-button.listing-carousel-button-next:hover {
        right: -15px;
        background: #000;
    }

    .listing-carousel-button.listing-carousel-button-prev:hover {
        left: -15px;
        background: #000;
    }

    .testi-item {
        transition: all .3s ease-in-out;
        transform: scale(0.9);
        opacity: 0.9;
    }

    .testimonials-text {
        padding: 75px 50px 75px;
        overflow: hidden;
        background: #f5f6fa;
        border: 1ps solid #f1f1f1;
        border-radius: 10px;
        transition: all .3s ease-in-out;
    }

    .testimonials-text-after {
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        opacity: .3;
        font-size: 35px;
        transition: all 400ms linear;
        bottom: 25px;
        right: 30px;
    }

    .testimonials-text-before{
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        opacity: .3;
        font-size: 35px;
        transition: all 400ms linear;
        top: 25px;
        left: 30px;
    }
    .fa{
        color: #ff2d3b;
    }

    .testimonials-text .listing-rating {
        float: none;
        display: inline-block;
        margin-bottom: 12px;
    }

    .listing-rating i {
        /* color: #007aff; */
        color: #ff2d3b;
    }

    .testimonials-avatar h3 {
        font-weight: 600;
        color: #ff2d3b;
        font-size: 18px;
    }

    .testimonials-avatar h4 {
        font-weight: 400;
        font-size: 12px;
        padding-top: 6px;
        color: #007aff;
    }

    .testimonials-carousel .swiper-slide {
        padding: 30px 0;
    }

    .testi-avatar {
        position: absolute;
        left: 47%;
        top: -40px;
        width: 90px;
        height: 90px;
        margin-left: -45px;
        z-index: 20;
    }

    .testi-avatar img {
        width: 120px;
        height: 120px;
        float: left;
        border-radius: 100%;
        border: 6px solid #fff;
        box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
    }

    /* .testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
} */
    .swiper-slide-active .testimonials-text {
        background: #fff;
        box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
    }

    .testimonials-text p {
        color: #878c9f;
        font-size: 14px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        line-height: 24px;
        padding-bottom: 10px;
        font-weight: 500;
    }

    .text-link {
        position: absolute;
        bottom: 0;
        padding: 15px 0;
        border-radius: 10px 10px 0 0;
        background: #f9f9f9;
        border: 1px solid #eee;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
        left: 50%;
        width: 200px;
        margin-left: -100px;
    }

    .swiper-slide-active .testi-item {
        opacity: 1;
        transform: scale(1.0);
    }

    .tc-pagination {
        float: left;
        margin-top: 10px;
        width: 100% !important;
    }

    .tc-pagination_wrap {
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 100%;
    }

    .tc-pagination2 {
        float: none;
        display: inline-block;
        padding: 14px 0;
        background: #fff;
        border-radius: 30px;
        min-width: 250px;
        border-bottom: 0;
    }

    .tc-pagination .swiper-pagination-bullet,
    .tc-pagination2.swiper-pagination-bullet {
        opacity: 1;
        background: #ff2d3b;
        margin: 0 2px;
        width: 15px;
        height: 15px;
        transition: all 300ms ease-in-out;
    }


    @media only screen and (max-width:991px) {
        .choose-us .container .row .col-lg-6 .img-logo {
            /* padding: 50px; */
            display: none;
        }

        .choose-us .col-lg-6 .logo-rotator {
            display: flex;
            margin-top: 30px;
        }

        .choose-us .choose-us-content {
            text-align: center;
        }

        .choose-us-content ul li {
            flex-basis: 50%;
            display: block;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        .choose-us .choose-us-content h1 {
            font-size: 35px;
        }
    }
</style>



<script>

    //   all ------------------
    function initParadoxWay() {
        "use strict";

        if ($(".testimonials-carousel").length > 0) {
            var j2 = new Swiper(".testimonials-carousel .swiper-container", {
                preloadImages: false,
                slidesPerView: 1,
                spaceBetween: 20,
                loop: true,
                grabCursor: true,
                mousewheel: false,
                centeredSlides: true,
                pagination: {
                    el: '.tc-pagination',
                    clickable: true,
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: '.listing-carousel-button-next',
                    prevEl: '.listing-carousel-button-prev',
                },
                breakpoints: {
                    1024: {
                        slidesPerView: 3,
                    },
                }
            });
        }

        // bubbles -----------------


       /* setInterval(function () {
            var size = randomValue(sArray);
            $('.bubbles').append('<div class="individual-bubble" style="left: ' + randomValue(bArray) + 'px; width: ' + size + 'px; height:' + size + 'px;"></div>');
            $('.individual-bubble').animate({
                'bottom': '100%',
                'opacity': '-=0.7'
            }, 4000, function () {
                $(this).remove()
            });
        }, 350);*/

    }

    //   Init All ------------------
    $(document).ready(function () {
        initParadoxWay();
    });


</script>